<!-- <?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
	<context:component-scan base-package="com.dcm.napaonline.*" />
	<context:annotation-config />
<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/suresh" />
		<property name="username" value="root" />
		<property name="password" value="suresh" />
		<property name="maxActive" value="8"/>
       <property name="maxIdle" value="4"/>
       <property name="maxWait" value="900000"/>
       <property name="validationQuery" value="SELECT 1" />
       <property name="testOnBorrow" value="true" />
	</bean>
	
	<bean id="hibernate4AnnotatedSessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan">
		<array>
		<value>com.dcm.napaonline.model.Break</value>
		</array>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.current_session_context_class">thread</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">create</prop>
			</props>
		</property>
	</bean>

	

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager"/>

	<bean id="persistenceExceptionTranslationPostProcessor"
		class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />

	<bean id="userDao" class="com.dcm.napaonline.dao.UserDaoImpl">
		<property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</bean>
	
	<bean id="breakDao" class="com.dcm.napaonline.dao.BreakDaoImpl">
		<property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</bean>

	<bean id="userService" class="com.dcm.napaonline.service.UserServiceImpl">
		<property name="userDao" ref="userDao" />
	</bean>
	<bean id="productDao" class="com.dcm.napaonline.dao.ProductDaoImpl"> 
		<property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" /> 
		</bean> <bean id="productService" class="com.dcm.napaonline.service.ProductImpl"> 
		<property name="productDao" ref="productDao" /> </bean>
</beans> -->