@CHARSET "ISO-8859-1";
body {
    font-family: Aileron,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.571;
    color: #333;
    margin: 0;
    display: block;
    box-sizing: inherit;
    background-color: #fff;
}