@CHARSET "ISO-8859-1";
#login{
	margin: 0px;
	/* background-color: #001489; */
	background-color:black;
	width: auto;
	height: 20px;
	color: black;
}
#login ul li{
display: inline;
}
#login ul li a{
color: white;
float:right;
margin-right: 80px;
font-family: Times New Roman;

}
#login ul li a:HOVER {
	color:orange;
}